@font-face {
    font-family: poppinsaM;
    src: url("../../../fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: poppinsB;
    src: url("../../../fonts/Poppins-Regular.ttf");
}
.view-order-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.view-order-main {
padding-top: 20px;
    overflow-wrap: break-word;
  max-width: 500px;
  width: 100vw;
  height: 1000px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.view-card-heading {
  text-align: right;
  font-family: poppinsaM;
  margin-bottom: 0px;
}
.view-card-heading h5 {
    text-align: justify;
}
.property-of-view-Card {
    opacity: 0.9;

    font-family: poppinsaM;
}
.prop-value-of-view-card {
    text-align: justify;
    font-family: poppinsB;
}
.view-top {
  width: 92%;
  margin: 0px auto;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
}
.view-bottom {
  width: 92%;
  margin: 0px auto;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
}
